#neugallery {
    width: 100%;
}

body {
    background-image: url(img/bg.jpg);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

#header {
    background-color: lightskyblue;
    border-radius: 20px 20px 0px 0px;
}

.headerfont {
    font-weight: bold;
    font-size: 32pt;
    text-align: center;
}

@media only screen and (max-width: 800px){
    .headerfont{
        font-size: 24pt;
    }
}

@media only screen and (max-width: 600px){
    .headerfont{
        font-size: 16pt;
    }
}

#nagycol {
    margin-top: 2%;
    background-color: lightskyblue;
    margin-bottom: 2%;
}

.gomb {
    background-color: lightskyblue;
    width: 24%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: auto;
    margin-left: 0.5%;
    font-weight: bold;
    color: black;
    font-size: 12pt;
    border: white 2px solid;
}

@media only screen and (max-width: 600px) {
    .gomb {
        margin: 0;
        font-size: 10pt;
    }
}

.kep1 {
    width: 100%;
}

.kep2 {
    padding: 3%;
}

.szoveg {
    font-weight: bold;
    font-size: 22pt;
    text-align: justify;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
}

@media only screen and (max-width: 1600px) {
    .szoveg {
        font-size: 20pt;
    }
}

@media only screen and (max-width: 1500px) {
    .szoveg {
        font-size: 18pt;
    }
}

@media only screen and (max-width: 1400px) {
    .szoveg {
        font-size: 16pt;
    }
}

@media only screen and (max-width: 1300px) {
    .szoveg {
        font-size: 14pt;
    }
}

hr {
    border-color: black;
    border-width: 3px;
}

.kep3 {
    width: 100%;
}

.gomb2 {
    background-color: lightskyblue;
    width: 49%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-right: auto;
    margin-left: 0.5%;
    font-weight: bold;
    color: black;
    font-size: 24pt;
    border: white 4px solid;
}

@media only screen and (max-width: 600px) {
    .gomb2 {
        margin: 0;
        font-size: 16pt;
    }
}